/*Images */
body { padding: 4% 20% }
h1 {
    color:blue;
}
p {
    color:blue;
}
img{
    margin-bottom: 42px;
    /*Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;
}