/*Images */
body { padding: 4% 20% }
h1,p{
    color:blue;
}
body { 
    border: 2px solid #000;
    margin: 0px;
    padding: 4% 20%;
    
}

img{
    margin-bottom: 42px;
    /*Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;
}