/*Images */
body { padding: 4% 20% }
h1 {
    color:blue;
}
p {
    color:blue;
}
img{
    margin-bottom: 42px;
    width: 600px;
    height: 600px;
    /*Drop shadow effect at right and bottom of image */
    box-shadow: 8px 10px 8px #888;
}

body { 
    border: 2px solid #000; 
    background-color: #f4eb8e;
}

/* Passive link styles */
            
a:link, a:visited {
    text-decoration: none;
    padding-bottom: 2px;
    color: #000;
    border-bottom: solid 2px #000;
} 
            
/* Interactive link styles */
            
a:hover, a:focus, a:active {
    text-decoration: none; 
    padding-bottom: 2px;
    color: #f26f21;
    border-bottom: solid 2px blue;
}