/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { line-height: 1.5; min-height: 100vh }
@media (max-width: 767px ) { body { text-rendering: optimizeSpeed } }
@media (min-width: 768px ) { body { text-rendering: optimizeLegibility } }
img { width: 100%; height: auto; display: block }
input, button, textarea, select { font: inherit }

body { 
    border-style: solid;
    border-width: 9px;
    padding: 4% 20%;
    text-align: center;
    border-color: #333;
    box-shadow: 8px 9px rgb(20, 20, 20);
    
}
#content {position:relative}
#content:before, #content:after, #content>:first-child:before, #content>:first-child:after {
    position: absolute;; content:' ';
    width:80px; height: 80px;
    border-color:red; /* or whatever colour */
    border-style:solid; /* or whatever style */
}
.image-with-shadow {
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
img {
    width: 600px;
    size: 600px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}


    body { background-color: lightgreen; }
    a { color: darkgreen; }
    .container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
    
}
